.custom-bg, .custom-bg:hover, .custom-bg:focus{
    background-color: #808080 !important;
    border-color: #808080 !important;
    color: #FFFFFF !important;

}

.custom-search-field, .custom-search-field:focus, .custom-select-field, .custom-select-field:focus{
    border: 2px #808080 solid;
}

.custom-buttom-margin{
    margin-bottom: 0 !important;
}